<section class="hero is-primary is-fullheight is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title"><img src="../../assets/img/logo/Coffeeroom-logos_white.png">
            </p>
            <p></p>
            <p class="subtitle is-family-code is-italic">
                We know you want a good coffee and a new vibe to take you out of your routine! Here is the place you were watching for! &#x2764;
            </p>
        </div>
    </div>
</section>